/** Now Playing **/

.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.now-playing__artist {
    margin-bottom: 1em;
}

.now-playing__status {
    margin-bottom: 1em;
}

.now-playing__img {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 45%;
    position: relative;
}

.now-playing__img img {
    max-width: 80vmin;
    width: 100%;
    border-radius: 50%;
    outline: 2px solid white;
    animation: spin 20s linear infinite;
}

.now-playing__img::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    outline: 15px solid white;
}

.now-playing__side {
    margin-left: 5%;
    width: 45%;
}

/** Progress **/

.progress {
    border: 1px solid #eee;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
}

.progress__bar {
    background-color: #eee;
    height: 4px;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}